<!DOCTYPE html>

<html>

<head>
        <link rel="icon" href="/img/download.png">
        <title>About</title>
        <link rel = "stylesheet" href="./css/styles.css">
</head>    
    <body>
        <div class="wrapper">
        {{>header}}
        <img class="aboutImg" src="./img/download.jpg">
        </div>
        {{>footer}}
    </body>

</html>